scripts=["
create path /conf/groovyconsole/replication(sling:Folder)
create path /conf/groovyconsole/scripts(sling:Folder)

create path /var/groovyconsole/audit(nt:unstructured)

create service user aem-groovy-console-service with path system/aem-groovy-console
set ACL for aem-groovy-console-service
    allow jcr:read on /home/groups
    allow jcr:all on /conf/groovyconsole/scripts
    allow jcr:all on /var/groovyconsole/audit
end
"]
