scripts=[
"
create path /conf/groovyconsole(sling:Folder)
create path /conf/groovyconsole/reports(sling:Folder)
create path /var/groovyconsole/reports(sling:Folder)
create path /var/groovyconsole/reports/executions(sling:Folder)
create path /apps/groovyconsole-reports-definitions(sling:Folder)

create service user aem-groovy-console-reports-service with path system/aem-groovy-console
set ACL for aem-groovy-console-reports-service
    allow jcr:read on /conf/groovyconsole
    allow jcr:all on /conf/groovyconsole/reports
    allow jcr:all on /var/groovyconsole/reports
    allow jcr:read on /apps/groovyconsole-reports-definitions
end

create service user aem-groovy-console-reports-executor with path system/aem-groovy-console
set ACL for aem-groovy-console-reports-executor
    allow jcr:read on /content
end
"]
